body{
  width: 100%;
}
.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  left: 0;
  top: 0;
  height: 70px;
  padding:0 30px;
  z-index: 1;
}
.header-ttl-img{
  width: 70px;
}
.header-ttl-img img{
  width: 100%;
}
.header-nav{
  display: block;
}
ul{
  text-align: right;
}
.header-nav-list{
  display: flex;
  font-weight: bold;
  }
.header-nav-item:not(:last-child){
  margin-right: 50px;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
  }
.menu{
  display: none;
}
@media screen and (min-width:769px ) {
  .drawer-nav{
    display: none;
  }
  .drawer-nav-list {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .header-nav {
    display: none;
  }
  .menu{
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .menu-line-top,.menu-line-middle,.menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color:black;
    position: absolute;
    transition: 0.5s;
  }
  .menu-line-top {
    top: 0;
  }
  .menu-line-middle {
    top: 14px;
  }
  .menu-line-bottom {
    bottom: 0;
  }  
  .menu.open span:nth-of-type(1){
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3){
    top: 14px;
    transform: rotate(-45deg);
  }
  .in{
    transform: translateX(100%);
  }
  .drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    transition: .7s;
    color: navy;
    background:white;
    }
  .drawer-nav-list{
    padding-top: 80px;
    text-align: center;
  }
  .drawer-nav-item{
    margin-top: 40px;
    color:navy;
    font-size: 20px;
  }
}
.top-mv{
  height: 80vh;
  background-image:url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat; 
  justify-content: center;
  align-items: center;
  display: flex;
}
.wrap{
  width: 100%;
  color: white;
  }
.top-mv-message{
  font-size: 50px;
  margin: 20px;
  text-align: center;
}
.top-mv-message-eng{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.top-vision__content{
  background: black;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.top-vision__content-inner wrap{
  align-items: flex-start;
}
.top-vision__content-ttl{
  font-size: 30px;
  margin: 20px auto  25px 50px;
  position: relative;
}
.top-vision__content-script{
  font-size: 18px;
  line-height: 30px;
  margin-right: 70px;
  position: absolute;
  transform:translateX(50px);
}
.mb-ds{
  padding: 50px 0;
}
.top-service wrap {
  width: 85%;
  margin: 20px auto;
  }
.top-service-ttl{
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.top-service-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:150px;
}
.top-service-item{
  width: 40%;
  margin-top: 15px;
  margin-right: 20px
}
.top-service-item-img img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.top-service-item-ttl{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.top-service-item-text{
  font-size: 15px;
  color: black;
  line-height: 20px;
  padding-top: 10px;
}
@media screen and (max-width:768px) {
  .wrap {
    width: 85%;
  }
  .top-service-item {
    width: 100%;
  }
}
.top-service-btn{
  margin:30px auto 0;
  display:block;
  width: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: red;
  padding: 15px;
}
.top-news{
  background-color: black;
  padding: 70px;
}
.top-news-inner wrap{
  padding:20px 15px;
  width: 85%;
}
.top-news-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-news-ttl{
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.top-news-btn{
  display: block;
  width: 180px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: red;
  padding: 15px;
}
.top-news-list{
  margin-top: 20px;
}
.top-news-item{
  background: white;
  margin-bottom: 15px;
}
.top-news-item-link{
  color: black;
  font-size: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.top-news-item-date{
  font-weight: 450;
  margin-right: 18px;
}
@media screen and (max-width:768px) {
  .wrap{
    width: 85%;
  }
  .top-news-item-link{
    padding: 10px;
    font-size: 15px;
  }  
}
.top-blog wrap{
  width: 85%;
}
.top-blog-ttl{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.top-blog-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  margin-left: 70px;
}
.top-blog-item{
  width: 31%;
  margin-right: 20px;
}
img{
  width: 100%;
}
.top-blog-item-date{
  color: black;
  font-weight: 450;
  margin-top: 10px;
}
.top-blog-item-ttl{
  color: black;
  font-weight: bold;
  margin: 15px 0;
}
@media screen and (max-width:768px){
  .wrap {
    width: 85%;
  }
  .top-blog-item{
    width: 100%;
    margin-right: 0;
  } 
}
.top-blog-btn{
  margin: 30px auto 0;
  display: block;
  width: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: red;
  padding: 15px;
}
.top-company-list{
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.top-company-item{
  width: 50%;
}
.top-company-link{
  background-color: red;
}
.top-company-item-link{
  width: 100%;
  display: inline-block;
  height: 20vh;
  line-height: 10;
  text-align: center;
}
.top-recruit-item{
  width: 50%;
}
.top-recruit-link{
  background-color: black;
}
.top-recruit-item-link{
  width: 100%;
  display: inline-block;
  height: 20vh;
  line-height: 10;
  text-align: center;
}
.bottom-contact{
  background-color: #f5f5f5;
  text-align: center;
  padding: 70px;
}
.bottom-contact-ttl{
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.bottom-contact-text{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  .wrap{
    width: 85%;
  }
}
.bottom-contact-btn{
  margin: 30px auto 0;
  display: block;
  width: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  background: red;
  padding: 15px;
}
.footer{
  padding: 20px 50px;
  color: white;
  background-color: black;
}
.footer-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.footer-nav-list{
  display: flex;
  flex-wrap: wrap;
}
.footer-nav-item::after{
  content: "|";
  display: inline-block;
  padding: 10px;
}
.footer-nav-item:last-child::after{
  content: "";
}
@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
  .footer-copyright{
    margin: 0 auto;
  }
  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }  
  .footer-nav-item::after {
    display: none;
  }
}