.top_page{
  width: 100%;
}
.header{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header_logo{
  color: navy;
  margin-left: 20px;
}
.header_list{
  list-style: none;
  text-align: right;
  }
.header_list>li{
  width: 180px;
  margin-right: 15px;
  padding-top: 6px;
  display: inline-block;
}
.header_list>li>a{
  text-decoration: none;
  color: navy;
  font-size: 15px;
  font-weight: bold;
} 
.image {
  position: relative;
}
.image_img img {
  width: 50%;
  display: block;
  position: fixed;
  top: 250px;
  right: -10px;
  z-index: 10;
}
.border_design{
  width: 1070px;
  height: 180px;
  background: navy;
  position: absolute;
  z-index: 5;
  top: 500px;
  left: -10px;
}
.text{
  color: black;
  font-size: 65px;
  font-weight:599;
  position: absolute;
  margin-top: 360px;
  left: -10px;
}
